@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: darksalmon;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px;
}

input {
  padding: 5px;
  font-size: 18px;
  background-color: lightsalmon;
  border: none;
  border-radius: 5px;
  margin-left: 18px;

  &#speed {
    width: 50px;
    text-align: center;
  }

  &#writing {
    width: 300px;
    text-align: start;
  }
}

input:focus {
  outline: none;
}

form button {
  cursor: pointer;
  color: indianred;
  background-color: antiquewhite;
  font-weight: bold;
  font-size: 15px;
  font-family: inherit;
  letter-spacing: 1px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

button:active {
  transform: scale(0.98);
}
